
@Media screen and (max-width: 1400px){
  #Profile{
    height: 83vh;
    margin-bottom:6rem;
  }
 
}
@Media screen and (max-width: 1200px){
  #desktop-nav{
    display:none;
  }
  #hamburger-nav{
   display: flex;
  }
  #Experirience,
  .Experience_details_container{
    margin-top: 2rem;
  }
  #Profile, 
  .Section_container{
    display:block;
  }
  .icon_arrow{
    display: none;
  }

  section ,
  .Section_container{
    height: fit-content;
  }

  section{
    margin: 0 5%;
  }

  .Section_pic_container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .About_container{
    margin-top: 0;
  }
}


@Media screen and (max-width: 600px){
  #Contacts, footer{
    height: 40vh;
  }
  #Profile{
    height: 83vh;
    margin-bottom: 0;
  }
  article{
    font-size: 1rem;
  }
  footer nav{
    height: fit-content;
    margin-bottom: 2rem;
  }
  .About_container,
  .Contact_info_upper_container,
  .btn_container{
    flex-wrap: wrap;
  }
  .contact_info_container{
    margin: 0;
  }
  .contact_info_container p,
  .nav_links li a{
    font-size: 1rem;
  }
  .Experience_subtitle{
    font-size: 1.25rem;
  }
  .logo{
    font-size: smaller;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .Section_pic_container{
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .Section_text_p2{
    font-size: 1.25rem;
  }
  .title{
    font-size: 2rem;
  }
  .text_container{
    text-align: justify;
  }
} 